<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <style>@import url(/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  {%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
  {%- assign page_date = page.date | date: date_format -%}
  {%- assign page_title = page.title | date: site.title -%}
  <title>{{ page_title | append: ' - ' | append: page_date }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <link href="/public/css/magnific-popup.css" rel="stylesheet">
  <body>
  	<div class="container"> 
      <div class="sidebar">
        {% include sidebar.html %}
      </div>

      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>

<script src="/public/js/jquery.3.7.1.js"></script>
<script src="/public/js/jquery.magnific-popup.js"></script>
<script src="/public/js/magnific-popup-setting.js"></script>