---
---

@import "minima";
@import "image";
@import "codeblock";
@import "table";
@import "slide";

body {
  color: #323232;
}

/* 기본 css 수정 */

.post-content h1 { font-size: 2em; font-weight: bold; }
.post-content h2 { font-size: 1.75em; font-weight: bold; }
.post-content h3 { font-size: 1.5em; font-weight: bold; }
.post-content h4 { font-size: 1.25em; font-weight: bold; }
.post-content h5 { font-size: 1em; font-weight: bold; }
.post-content h6 { font-size: 0.875em; font-weight: bold; }

blockquote {
  font-style: normal; /* 기본 기울임 제거 */
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: #646464;
  margin: 1em 0;
  font-size: medium;
}

// 컨택부분
.contact-section {
  background:rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 600px;
  margin: 2rem auto;
}

.contact-section h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #222;
}

.contact-section ul {
  list-style: none;
  padding: 0;
}

.contact-section li {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: #333;
}

.contact-section a {
  color: #2d6cdf;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

// about
.about-me-section div {
  margin-bottom: 0.5rem;
}

.about-me-section p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #444;
  text-align: left;
  margin-bottom: 0.5rem;
}

.about-me-section h4 {
  margin-top: 1rem;
  color: #444;
  text-align: left;
  margin-bottom: 1rem;
}
